
<md-dialog aria-label="{{const.STATUS_AVAILABLE.indexOf(room.status) > -1 ?'Cadastrar' : customer.name}}">
  <form ng-cloak ng-submit="submit()" ng-controller="RoomController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{const.STATUS_AVAILABLE.indexOf(room.status) > -1 ?'Cadastrar' : customer.name}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" ng-if="const.STATUS_AVAILABLE.indexOf(room.status) > -1">
        <div layout-gt-sm="row">
          <md-radio-group ng-model="customerForm.q" ng-change="showFormCustomerField()">
            <md-radio-button value="email">Buscar por e-mail</md-radio-button>
            <md-radio-button value="documentId">Buscar por CPF</md-radio-button>
          </md-radio-group>
        </div>
        <div layout-gt-sm="row">
          <md-input-container id="input-email" class="inputForm md-block ng-hide">
            <label>E-mail</label>
            <input type="email" ng-model="customerForm.email">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container id="input-documentId" class="inputForm md-block ng-hide">
            <label>CPF</label>
            <input ng-model="customerForm.documentId" ui-br-cpf-mask>
          </md-input-container>
        </div>
      </div>
      <div class="md-dialog-content" ng-if="const.STATUS_IN_USE.indexOf(room.status) > -1">      
        <div class="md-list-item-text">
          <h3>{{customer.name}}</h3>
          <h4>{{customer.email}}</h4>
          <p>{{customer.documentId}}</p>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-if="const.STATUS_AVAILABLE.indexOf(room.status) > -1">
      	Salvar
      </md-button>
      <md-button ng-click="cancel()" id="btCancel">
      	Fechar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>