<md-dialog aria-label="{{room.name}}">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{room.name}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        Content
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button>
      	Bot&atilde;o 1
      </md-button>
      <span flex></span>
      <md-button>
      	Bot&atilde;o 2
      </md-button>
      <md-button ng-click="cancel()">
      	Fechar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>